<template>
  <div class="q-pa-md">
    <p align="center" class="text-h4">Another Page</p>
    <div class="row justify-center items-center">
      <div class="col-4-md col-xs-2 col-sm-5 col-lg-4">
        <q-input placeholder="Hello" outlined />
      </div>
      <div class="col-8-md col-xs-10 col-sm-7 col-lg-6">
        <q-input placeholder="Waty" filled />
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
