<template>
  <h2 class="text-center">R0zen QUASAR PWA</h2>
  <div class="flex flex-center">
    <!--<img
      alt="Quasar logo"
      src="~assets/quasar-logo-vertical.svg"
      style="width: 12rem; height: 12rem"
    />-->
    <div>
      <p>{{ counter }}</p>
      <q-btn @click="() => increment()" color="blue" style="margin: 1rem"
        >Increase</q-btn
      >
      <q-btn @click="() => reset()" color="red">Reset</q-btn>
    </div>
    <q-dialog v-model="alert">
      <q-card>
        <q-card-section>
          <div class="text-h4">Welcome</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
            ratione nesciunt, eligendi ad magnam nobis eveniet quam molestiae
            commodi ullam.
          </div>
        </q-card-section>
        <q-card-actions align="center">
          <q-btn flat label="Ok" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { useCounterStore } from "../stores/counter";
import { mapStores, mapState, mapActions } from "pinia";
export default {
  name: "IndexPage",
  data: () => ({
    myName: "",
    alert: false,
  }),
  methods: {
    ...mapActions(useCounterStore, ["increment", "reset"]),
  },
  computed: {
    ...mapState(useCounterStore, ["counter", "doubleCount"]),
    ...mapStores(useCounterStore),
  },
  mounted() {
    this.alert = true;
    setTimeout(() => {
      this.alert = false;
    }, 10000);
  },
};
</script>
