<template>
  <nav>
    <MainLayout />
  </nav>
  <!-- <router-view />-->
</template>

<script>
import MainLayout from "./layouts/MainLayout.vue";
export default {
  name: "App",
  components: {
    MainLayout,
  },
};
</script>
